.container___gXQZD{width:100%;position:relative;display:inline-block}.container___gXQZD .recharts-responsive-container{width:calc(100% + 56px)!important;margin-left:-32px}.content___1RqFw{position:absolute;left:0;right:0;top:0;bottom:0}
.chart___3smB6 .ant-card{overflow:hidden;margin-bottom:24px}
